@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Все статьи</h1>
    <p><a asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a>.</p>
</div>
