@{
    ViewData["Title"] = "Home Page";
}

<div class="container-page">
    @if (User.Identity is { IsAuthenticated: true })
    {
        <div class="container-page">
            <div class="text-start">
                <h1 class="display-4">Вы успешно залогинились @User.Identity.Name</h1>
                <p><a class="link-dark" asp-area="" asp-controller="Post" asp-action="GetPosts">Перейти к статьям</a>.</p>
                <p><a class="link-dark" asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a>.</p>
            </div>
        </div>

    }
    else
    {
    <div class="text-start">
        <h1 class="display-4">Статьи</h1>
            <p><a class="link-dark" asp-area="" asp-controller="Post" asp-action="GetPosts">Перейти к статьям</a>.</p>
            <p><a class="link-dark" asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a>.</p>
    </div>
    }
</div>

