@using BlogWebApp.BLL.Models.ViewModels.PostViews
@using Microsoft.AspNetCore.Identity
@using BlogAPI.DATA.Models
@model CreatePostViewModel

@{
    ViewData["Title"] = "Добавление тега";
}

<div class="text-start">
    <div>
        <h3 style="text-align: left">Добавление статьи</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-action="Create" asp-controller="Post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label for="InputPost" class="form-label">Заголовок</label>
                    <input type="text" class="form-control" id="InputPost" asp-for="PostName">
                    <span asp-validation-for="PostName"></span>
                </div>
                <div class="form-group">
                    @foreach (Tag tag in Model.PostTags)
                    {
                        <input type="checkbox" name="postTags" value="@tag.tagText" />

                        @tag.tagText <br />
                    }
                </div>
                <div class="mb-3">
                    <label for="inputContent" class="form-label">Контент</label>
                    <textarea class="form-control" id="inputContent" rows="3" asp-for="PostText"></textarea>
                    <span asp-validation-for="PostText"></span>
                </div>
                <div class="mb-3">
                    <label for="InputAuthor" class="form-label">Автор</label>
                    <input type="text" class="form-control" id="InputAuthor" asp-for="PostAuthorEmail" value="@User.Identity.Name" readonly>
                    <span asp-validation-for="PostAuthorEmail"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
            </form>
        }
        else
        {
            <div><p>Для добавления статьи требуется залогиниться!</p></div>
        }
        <p><a asp-area="" asp-controller="Post" asp-action="GetPosts">Перейти к списку всех статей</a></p>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }