@using BlogWebApp.BLL.Models.Entities
@model BlogWebApp.BLL.Models.Entities.Post

@{
    ViewData["Title"] = "Добавление тега";
}

<div class="text-start">
    <div>
        <h3 style="text-align: left">Добавление статьи</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-action="Create" asp-controller="Post">
                <div class="mb-3">
                <label for="InputPost" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="InputPost" asp-for="postName">
            </div>
            <div class="mb-3">
                <label for="inputContent" class="form-label">Контент</label>
                <textarea class="form-control" id="inputContent" rows="3" asp-for="postText"></textarea>
            </div>
           <div class="mb-3">
                <label for="InputAuthor" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="InputAuthor" asp-for="User.UserName" value="@User.Identity.Name" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        }
        <p><a asp-area="" asp-controller="Role" asp-action="GetRoles">Перейти к списку всех статей</a></p>
    </div>
</div>
