<div class="text-start">
    <div>
        <h3 style="text-align: left">Редактирование статьи</h3>
        <form method="post">
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="tagCheck1">
                <label class="form-check-label" for="tagCheck1">Разработка</label>
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="tagCheck2">
                <label class="form-check-label" for="tagCheck2">.Net Core</label>
            </div>
            <div class="mb-3">
                <label for="InputPost" class="form-label">Заголовок</label>
                <input type="text" class="form-control" id="InputPost">
            </div>
            <div class="mb-3">
                <label for="inputContent" class="form-label">Контент</label>
                <textarea class="form-control" id="inputContent" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <p><a asp-area="" asp-controller="Role" asp-action="GetRoles">Перейти к списку всех статей</a></p>
    </div>
</div>
