@using BlogWebApp.BLL.Models.Entities
@model Post[]
@{
    ViewData["Title"] = "GetPosts";
}
<div class="text-start">
<h3>Все статьи</h3>
<p><a asp-area="" asp-controller="Post" asp-action="Create">Добавить статью</a></p>
@foreach (Post post in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <p><a asp-area="" asp-controller="Post" asp-action="GetPost" asp-route-id="@post.id">@post.postName</a></p>
            @foreach (Tag tag in @post.Tags)
            {
                <span class="badge bg-info text-dark">@tag.tagText</span>               
            }
                <div class="btn-group" role="group" aria-label="">
                    <button type="button" class="btn btn-outline-secondary" asp-area="" asp-controller="Post" asp-action="Edit">Редактировать</button>
                    <button type="button" class="btn btn-outline-danger" asp-area="" asp-controller="Post" asp-action="Delete">Удалить</button>
                </div>
        </div>
    </div>
}
</div>

