@using BlogWebApp.BLL.Models.ViewModels.UserViews

@model LoginUserViewModel

@{
    ViewData["Title"] = "Добавление пользователя";
}

<div class="text-start">
    <div>
        <form method="post" asp-controller="User" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label for="login" class="form-label">Почтовый адрес</label>
                <input type="email" class="form-control bgpowderblue w-50" id="login" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control bgpowderblue w-50" id="password" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Войти</button>
        </form>
        <p>Еще нет аккаунта? <a class="link-dark" asp-controller="User" asp-action="Register">Зарегистрируйтесь!</a></p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }