@using BlogWebApp.BLL.Models.ViewModels.TagViews
@model CreateTagViewModel

@{
    ViewData["Title"] = "Добавление тега";
}

<div class="text-start">
    <div>
        <h3>Добавление тега</h3>
        <form method="post" asp-action="Create" asp-controller="Tag">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label for="InputTag" class="form-label">Название тега</label>
                <input type="text" class="form-control bgpowderblue" id="InputTag" asp-for="TagText">
                <span asp-validation-for="TagText"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Добавить</button>
        </form>
        <p><a class="link-dark" asp-area="" asp-controller="Tag" asp-action="GetTags">Перейти к списку всех тегов</a></p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }