<div class="text-center">
    <div>
        <h3 style="text-align: left">Добавление тега</h3>
        <form>
            <div class="mb-3">
                <label for="InputTag" class="form-label">Название тега</label>
                <input type="text" class="form-control" id="InputTag">
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        <p><a asp-area="" asp-controller="Tag" asp-action="Register">Перейти к списку всех тегов</a></p>
    </div>
</div>
