@using BlogWebApp.BLL.Models.ViewModels.TagViews
@model EditeTagViewModel


@{
    ViewData["Title"] = "Редактирование тега";
}
<div class="text-start">
    <div>
        <h3>Редактирование тега</h3>
        <form method="post" asp-action="Edit" asp-controller="Tag" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly"></div>
             <div class="mb-3">
                <label for="InputTag" class="form-label">Id</label>
                <input type="text" class="form-control bgpowderblue" id="InputTag" asp-for="Id" value="@Model.Id" readonly>
                <span asp-validation-for="Id"></span>
            </div>
            <div class="mb-3">
                <label for="InputTag" class="form-label">Название тега</label>
                <input type="text" class="form-control bgpowderblue" id="InputTagText" asp-for="TagText" value="@Model.TagText">
                <span asp-validation-for="TagText"></span>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
        <br>
        <form method="post" asp-action="Delete" asp-action="Delete" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-sm btn-danger btn-sm">Удалить</button>
        </form>
        <p><a asp-area="" asp-controller="Tag" asp-action="GetTags">Перейти к списку всех тегов</a></p>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
