@using BlogAPI.DATA.Models
@model IEnumerable<Tag>
@{
    ViewData["Title"] = "GetTags";
}
<div class="text-start">
    <h3>Все теги</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a asp-area="" asp-controller="Tag" asp-action="Create">Добавить тег</a></p>
    }
    @foreach (Tag tag in Model)
    {
        <div class="card mt-2 w-25">
            <div class="card-body bgpowderblue">
                <h5 class="card-title">@tag.tagText</h5>
                <p class="card-text">Статей по тегу: @tag.Posts.Count.ToString()</p>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-secondary btn-sm" asp-controller="Tag" asp-action="Edit" asp-route-id="@tag.id">Редактировать</a>
                }
            </div>
        </div>
    }
</div>