@using BlogWebApp.BLL.Models.Entities
@model Role[]
@{
    ViewData["Title"] = "GetRoles";
}

<div class="text-start">
<h3>Все роли</h3>
<p><a asp-area="" asp-controller="Role" asp-action="Create">Добавить роль</a></p>
@foreach (Role role in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@role.RoleName</h5>
            <p class="card-text">@role.RoleDescription</p>
            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Role" asp-action="Edit">Редактировать</a>
        </div>
    </div>
}
</div>
